<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701543990960-vfo4e17qlvfq0cuon529lfek9l0sn4oe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701543990960-vfo4e17qlvfq0cuon529lfek9l0sn4oe</string>
	<key>API_KEY</key>
	<string>AIzaSyC7wGs3phGXVJd4zUzmmMmwAm9QJle_xTI</string>
	<key>GCM_SENDER_ID</key>
	<string>701543990960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example</string>
	<key>PROJECT_ID</key>
	<string>biking-cd5c5</string>
	<key>STORAGE_BUCKET</key>
	<string>biking-cd5c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701543990960:ios:df40c6e61f15e899121d75</string>
</dict>
</plist>